<h1>Member Details</h1>

<span>Editing Member:</span> {{ selectedMember.name }} - {{ selectedMember.email }} 

<span class="image left">
    <img src="{{ selectedMember.profile_image }}" alt="">
</span>


<input type="text" [(ngModel)]="selectedMember.id" readonly><br>
<input type="text" [(ngModel)]="selectedMember.name"><br>
<input type="text" [(ngModel)]="selectedMember.email"><br>
<input type="text" [(ngModel)]="selectedMember.phone"><br>
<input type="text" [(ngModel)]="selectedMember.address"><br>
<input type="text" [(ngModel)]="selectedMember.city"><br>
<input type="text" [(ngModel)]="selectedMember.state"><br>
<input type="text" [(ngModel)]="selectedMember.zipcode"><br>
<button (click)="updateMember()" class="button">Update</button>
<button (click)="deleteMember()" class="button">Delete</button>

<button (click)="newMember()" class="button primary">Create</button>