<h1>Member Details</h1>

{{ selectedMember.name }} - {{ selectedMember.email }}


<p>Selected ID = {{ selectedId }}</p>

<input type="text" [(ngModel)]="selectedMember.id" readonly>
<input type="text" [(ngModel)]="selectedMember.name">
<input type="text" [(ngModel)]="selectedMember.email">
<input type="text" [(ngModel)]="selectedMember.phone">
<input type="text" [(ngModel)]="selectedMember.address">
<input type="text" [(ngModel)]="selectedMember.city">
<input type="text" [(ngModel)]="selectedMember.state">
<input type="text" [(ngModel)]="selectedMember.zipcode">
<button (click)="updateMember()">Update</button>
<button (click)="deleteMember()">Delete</button>

<button (click)="newMember()">Create</button>