<h1>Create New Member</h1>

<input type="text" placeholder="Name" [(ngModel)]="member.name">
<input type="text" placeholder="Email" [(ngModel)]="member.email">
<input type="text" placeholder="Phone" [(ngModel)]="member.phone">
<input type="text" placeholder="Address" [(ngModel)]="member.address">
<input type="text" placeholder="City" [(ngModel)]="member.city">
<input type="text" placeholder="State" [(ngModel)]="member.state">
<input type="text" placeholder="Zip Code" [(ngModel)]="member.zipcode">
<button (click)="save()">Save</button>
