<h1>Create New Member</h1>

<input type="text" placeholder="Name" [(ngModel)]="member.name"><br>
<input type="text" placeholder="Email" [(ngModel)]="member.email"><br>
<input type="text" placeholder="Phone" [(ngModel)]="member.phone"><br>
<input type="text" placeholder="Address" [(ngModel)]="member.address"><br>
<input type="text" placeholder="City" [(ngModel)]="member.city"><br>
<input type="text" placeholder="State" [(ngModel)]="member.state"><br>
<input type="text" placeholder="Zip Code" [(ngModel)]="member.zipcode"><br>
<button (click)="save()" class="button primary">Save</button>
